fastapi
uvicorn
pydantic
python-dotenv

# LangChain 
langchain
langchain-core
langchain-community
langchain-openai
langchain-chroma
langgraph

# Embeddings (aliyun DashScope)
dashscope

# 
docx2txt       # Word 
PyPDF2         # PDF 
pypdf
python-multipart

# 向量数据库
chromadb
