fastapi
uvicorn
pydantic
python-dotenv


langchain
langchain-core
langchain-community
langchain-openai
langchain-chroma
langgraph


dashscope


docx2txt       
PyPDF2        
pypdf
python-multipart


chromadb
