# ======================
# FastAPI
# ======================
fastapi>=0.115.0
uvicorn[standard]>=0.34.0
pydantic>=2.10.0
python-dotenv>=1.0.1


# ======================
# LangChain / LLM
# ======================
langchain>=0.3.20
langchain-core>=0.3.40
langchain-community>=0.3.20
langchain-openai>=0.3.7
langgraph>=0.2.60


# ======================
# Alibaba DashScope
# ======================
dashscope>=1.23.0


# ======================
# Document loading
# ======================
docx2txt>=0.8
PyPDF2>=3.0.1
pypdf>=5.3.0
python-multipart>=0.0.20


# ======================
# Retrieval / rerank
# ======================
bm25s>=0.2.10
cohere>=5.13.0
numpy==2.2.4
tiktoken>=0.9.0


# ======================
# Embedding / reranker models
# ======================
transformers>=4.50.0
sentence-transformers>=3.4.1
FlagEmbedding>=1.3.5


# ======================
# Database / vector storage
# ======================
pgvector
sqlalchemy
psycopg2-binary

# ======================
# Audio / video processing
# ======================
pydub
# audioop-lts
yt_dlp
funasr
torchaudio